.vscode
*.log*
.DS_Store
*.swp
scripts/epub/analyze/*.epub
node_modules
*.json
*.db
._*
Carthage
app/App/Auth/AuthProviders.plist
server/db/err.mwb.bak

aconfig.yaml
econfig.yaml
config.yaml
config_test.yaml
aconfig_test.yaml
services.yaml