.vscode
*.log*
.DS_Store
*.swp
scripts/epub/analyze/*.epub
node_modules
*.json
*.db
._*
Carthage
app/App/Auth/AuthProviders.plist
aconfig.yaml
config.yaml
config_test.yaml
services.yaml
server/db/err.mwb.bak